.rtl-profile {
    padding: 0 100px;
    direction: rtl;
}

.ltr-profile {
    padding: 0 100px;
}

.left-border {
    border-left: 1px solid #05299e;
}

.ant-input-prefix {
    margin-left: 4px !important;
}

h2 {
    margin-bottom: 25px !important;
    text-align: center;
}

.btn-position {
    display: flex;
    justify-content: center;
}

.ant-icon {
    color: #05299e !important;
}

.layout {
    background-color: gainsboro !important;
}

.ant-input-affix-wrapper {
    border: 1px solid #05299e !important;
}

.avatar {
    display: flex;
    justify-content: center;
}

.ant-avatar-circle {
    background-color: #05299e !important;
}

.avatar-icon {
    color: #fff !important;
}

p {
    text-align: center;
}

.user-name {
    color: #05299e;
    font-size: large;
    margin-top: 40px;
}

.form-con {
    margin: 15px 50px 50px 0 !important;
}

.CustomAvatar-image {
    border-radius: 50%;
    overflow: hidden;
}

@media (max-width:767px) {
    .left-border {
        border-left: 0px;
        display: none;
    }
    .form-con {
        margin: 40px auto auto 0 !important;
    }
}

@media (max-width:878px) {
    .left-border {
        border-left: 0px;
        display: none;
    }
    .form-con {
        margin: 40px auto auto 0 !important;
    }
}

.button {
    width: 100% !important;
}

.ant-form {
    width: 100% !important;
}

.App-label {
    color: rgba(45, 63, 94, 0.5);
}

.language-btn {}