.ant-modal-title {
  text-align: center;
}
.m-r {
  margin-right: 20px;
  margin-bottom: 15px;
}
.align-text {
  font-weight: bold;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #05299e !important;
}
.ant-radio-inner::after {
  background-color: #05299e !important;
}
.b-border {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(218, 214, 214);
}
.btn-modal {
  background-color: white !important;
  border: 1px solid #05299e !important;
  color: #05299e !important;
}
.btn-cancel {
  border: none !important;
}
.jodit-toolbar-editor-collection .jodit-toolbar-button {
  display: grid;
}
.jodit-workplace {
  min-height: 114px !important;
}
