.p-align {
  text-align: left !important;
}
.color-name {
  color: #1890ff;
}
.font-span {
  font-size: 13px;
  color: gray;
}
.ant-drawer-header,
.ant-drawer-body {
  border-bottom: 1px solid rgb(236, 32, 236);
}
.btn-drwer {
  background-color: white !important;
  border: 1px solid #5c0099 !important;
  color: #5c0099 !important;
}
.btn-cancel {
  border: none !important;
}
.align-text {
  text-align: left;
  font-weight: bold;
}
.ant-comment-nested {
  padding: 5px 15px;
  background-color: rgb(255, 230, 230);
}
.b-color {
  background-color: gray !important;
}
.ant-drawer-body {
  padding-bottom: 10px !important;
  padding-top: 0px !important;
}
.ant-comment.active {
  background-color: rgba(246, 68, 68, 0.1);
  padding: 0 10px;
}
.icon-back {
  margin: 1px 20px 0px 5px;
}
.ant-drawer-close {
  display: none !important;
}
.ant-comment-content-author {
  flex-direction: column;
  justify-content: space-between;
}
.ticket-id {
  color: #999;
  font-size: 14px;
}
.openTicket__subject {
  display: block;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}

.ant-tag-yellow {
  color: white;
  background-color: #fca311 ;
  border-color: #fca311;
  /* rgba(255, 255, 0, 0.479) */
}
.ant-tag-blue {
  color: white;
  background-color: #05299e ;
  border-color: #05299e;
  /* rgba(0, 0, 255, 0.514) */
}
.ant-tag-purple {
  color: white;
  background-color: #5c0099;
  border-color: #5c0099; 
  /* rgba(187, 14, 135, 0.514) */
}
.ant-tag-red {
  color: white;
  background-color: #d00000;
  border-color: #ca0505;
}
.ant-tag-green {
  color: white;
  background-color: #0ead69;
  border-color: #0ead69;
}
.ant-tag-purple:hover {
  color: #ffffff !important;
  background: #5c0099 !important;
  border-color: #5c0099 !important;
}
.header_open_ticket {
  display: flex;
  justify-content: space-between;
}
.pending {
  margin-right: 15px;
}
.table tr,.table td{
  border: 1px solid black;
}
@media screen and (max-width: 767px) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}
@media screen and (max-height: 450px) {
  .ant-drawer-body {
    overflow: unset !important;
  }
}