.display {
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap-reverse !important;
}

.icons-list-ltr {
    color: white;
    padding-top: 30px;
    font-size: 20px;
    margin-left: -20px;
    cursor: pointer;
    text-align-last: right;
}

.icons-list-rtl {
    color: white;
    padding-top: 30px;
    font-size: 20px;
    margin-left: -20px;
    cursor: pointer;
}

.layout {
    position: relative;
    margin-bottom: 50px;
}

.ant-image-header1 {
    background-image: url("../../assets/header.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 450px;
    top: -300px;
    left: 0;
    right: 0;
}

.ant-image-guide {
    top: 0px;
    height: 660px;
    opacity: 0.9;
    overflow: hidden;
    backface-visibility: visible;
}

.ant-layout-header {
    height: 155px !important;
    background: white !important;
    padding: 0 0px !important;
    line-height: 64px;
    width: 100%;
}

.ant-col1 {
    padding-left: 0px;
}

.rtl-ant-col2 {
    margin: auto;
    margin-top: -4px;
    margin-left: 40px;
}

.ltr-ant-col2 {
    margin: auto;
    margin-top: -4px;
    margin-right: 40px;
}

.ant-dropdown,
.ant-dropdown-placement-bottomCenter,
.ant-dropdown-hidden {
    padding-top: 5px !important;
    min-width: 175px !important;
}

.rtl-username-style {
    font-size: 15px;
    padding: 0px;
}

.ltr-username-style {
    font-size: 15px;
    padding: 0px 0px 0px 10px;
}

.username-style {
    font-size: 15px;
    padding: 0px 0px 0px 10px;
}

.link {
    color: aliceblue;
}

.link:hover {
    color: rgb(192, 255, 255);
}

.login {
    color: #eee !important;
}

.dashboard_logo {
    padding-top: 0px;
    padding-right: 5px;
}

.left_header {
    display: flex;
    justify-items: baseline;
}


/* @media screen and (max-width: 767px) {
    .ant-layout-header {
        padding: 0 20px !important;
    }
} */

Header,
.ant-menu {
    background-color: #05299e !important;
}

.slider-position {
    background: none !important;
}

.ant-layout-sider-zero-width-trigger {
    top: 45px !important;
    background-color: rgb(173, 236, 238) !important;
}

.anticon-bars {
    color: #05299e !important;
}

@media screen and (max-width: 467px) {
    .ant-col1 {
        margin: auto;
        margin-top: -10px !important;
        padding-left: 0px;
    }
    .left_header {
        margin-left: -42px;
    }
    .ant-col2 {
        margin: auto;
        margin-top: -21px;
    }
    .icons-list {
        margin-bottom: -15px;
    }
}

.rtl {
    direction: rtl;
}

.rtl-user {
    font-size: 20px;
    padding: 0px 3px 0px 0px;
}

.ltr-user {
    font-size: 20px;
    padding: 0px 0px 0px 3px;
}

.ltr-question {
    padding: 0px 2px;
}

.rtl-question {
    padding: 0px 10px;
}

.linkGuide1 {
    font-size: 15px;
    margin: 0 -7px;
    padding: 3px;
    cursor: pointer;
}

.linkGuide2 {
    font-size: 15px;
    margin: 0 12px;
    padding: 3px;
    cursor: pointer;
}

.ant-layout-header {
    line-height: 45px !important;
}

@media screen and (min-width: 991px) {
    .ant-layout-sider {
        min-width: 500px !important;
        text-align: end;
    }
}